/** @format */

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #f8ede3;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

/* navbar */

header {
  display: flex;
  background-color: #798777;
  height: 100px;
  position: fixed;
  width: 100%;
  align-items: center;
  z-index: 1;
}

header h1 {
  color: #a2b29f;
  padding-left: 30px;
}

nav {
  position: fixed;
  justify-content: end;
  width: 100%;
}

nav ul {
  position: relative;
  text-align: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-flex;
  position: relative;
  padding: 15px;
  font-size: large;
}

nav ul li a {
  text-decoration: none;
  color: #a2b29f;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* about me section */

#about-me {
  padding: 250px 100px 100px 250px;
  align-items: center;
  height: 400px;
}

.about-h1 {
  position: relative;
  margin-top: -100px;
  padding-bottom: 20px;
  color: #99a799;
}

.sarah-img {
  border-radius: 30%;
  border: 2px solid #798777;
  width: 240px;
  height: 448px;
}

.info-div {
  position: relative;
  margin-top: -300px;
  padding: 0 400px 0 400px;
  font-size: larger;
  color: #798777;
}

/* education section */

#education {
  padding: 50px;
  color: #f8ede3;
  background-color: #99a799;
}

.education dt {
  padding-left: 12px;
}

/* my projects */

#my-work {
  margin-bottom: 40px;
}

#my-work h1 {
  padding: 20px 0 50px 50px;
  color: #798777;
}

/* project images */

.project1 img {
  width: 600px;
  border: 2px solid #a2b29f;
}

.project2 img,
.project3 img,
.project4 img {
  width: 400px;
  border: 2px solid #a2b29f;
}

/* divs */

#my-work div {
  padding: 0 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.project1 div {
  padding: 0 400px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.project2,
.project4 {
  display: flex;
  align-items: flex-end;
}

.project2 {
  margin-top: 100px;
}

/* p elements */

#my-work p {
  color: #798777;
  font-size: large;
}

.project1 p {
  text-align: left;
  padding-left: 50px;
}

.project2 p,
.project4 p {
  text-align: right;
  padding-right: 150px;
}

.project3 p {
  text-align: left;
  padding-left: 50px;
}

/* form */

input[type=text], select {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}

.form-section {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}

form {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 600px;
}

label {
  padding: 15px 0;
}

#fname,
#lname{
  width: 150px;
}


/* footer */

footer div {
  background-color: #798777;
  height: 100px;
  text-align: center;
}

button {
  background-color: #798777;
  border: none;
  color: white;
  margin: 30px 70px;
  font-size: 30px;
  cursor: pointer;
}

/* media query */