/** @format */

* {
  max-width: 100%;
  /* border: 1px solid red; */
  scroll-behavior: smooth;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #f8ede3;
  padding: 0;
  margin: 0;
}

/* navbar */

header {
  display: flex;
  background-color: #464F41;
  height: 100px;
  position: sticky;
  width: 100%;
  align-items: center;
  z-index: 1;
}

#title a{
  text-decoration: none;
  color: #f8ede3;
}

header h1 {
  padding-left: 30px;
  width: 500px;
}

nav {
  justify-content: end;
  width: 100%;
}

nav ul {
  position: relative;
  text-align: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-flex;
  padding: 15px;
  font-size: large;
}

nav ul li a {
  text-decoration: none;
  color: #BFCBA8;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* about me section */

#backgroundImg {
  background-image: url("../images/trees.jpg") ;
  height: 800px;
}


#about-me {
  align-items: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  background-color: #798777;
  max-width: 80%;
}

#about-h1 {
  position: relative;
  color: #BFCBA8;
  margin-top: 10px;
}

.sarah-img {
  border-radius: 30%;
  border: 2px solid #464F41;
  width: 50%;
  margin-bottom: 50px;
}

#info-text {
  font-size: larger;
  color: #f8ede3;
}

/* education section */

#education {
  padding: 50px 0;
  color: #f8ede3;
  background-color: #A2B29F;
  max-width: 80%;
}

#edDiv {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#education h1 {
  color: #BFCBA8;
}

#education dl {
  margin-left: 20px;
  font-size: larger;
}

/* my projects */

#my-work {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

#my-work h1 {
  padding: 20px 0 50px 50px;
  color: #798777;
}

/* project images */
.project5 img,
.project6 img{
  width: 600px;
}

#page2 {
  display: none;
}

#my-work img {
  border: 2px solid #a2b29f;
  width: 400px;
}

/* divs */

.page-link {
  border: 2px solid #a2b29f;
  color: #d0c9c0;
  background-color: #798777;
}

/* p elements */

#my-work p {
  color: #798777;
  font-size: large;
  text-align: center;
  padding: 10px;
  margin: 0;
}

/* form */

input[type="text"],
select {
  width: 70%;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 3px;
  border: 2px solid #798777;
}

#form-section {
  background-color: #a2b29f;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 30px 600px;
  padding: 10px;
  background-color: #798777;
  width: 500px;
  align-items: center;
  border-radius: 4px;
}

label {
  padding: 15px 0;
  color: #f8ede3;
}

#fname,
#lname,
#message {
  width: 250px;
  border: 2px solid #99a799;
  border-radius: 3px;
}

input[type="submit"] {
  width: 100%;
  background-color: #d0c9c0;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #f8ede3;
}

/* footer */

footer div {
  background-color: #d0c9c0;
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

footer a {
  text-decoration: none;
  color: white;
}

button {
  background-color: #d0c9c0;
  border: none;
  color: white;
  margin: 30px 70px;
  font-size: 30px;
  cursor: pointer;
}

i:hover {
  color: #f8ede3;
}

/* media query */
@media screen and (max-width: 768px) {

  #my-work img {
    width: 50%;
  }
  .project1,
  .project2,
  .project3,
  .project4,
  .project5 {
    text-align: center;
    display: contents;
  }
  #infoSection {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
#info-Section {
  display: flex;
  align-items: center;
  position: absolute;
}

}